*¨{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-weight: 300;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(124, 107, 107, 0.274);
}
h2, 
h3{
    font-weight: light;
    margin: 2rem ;
}
h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.5rem;
}
.container{
    width: 1400px;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#E8ECF3;
}

.btn{
    background-color:#000;
    color:#fff;
    font-size: 1.4rem;
    border-radius: 2.5rem;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.btn:hover{
    transform: scale(1.01);
}
.card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    justify-content: center;

}
.card__item{
    width: 207px;
    height: 329px;
    padding: 0.5rem 0.1rem;
    border-radius:0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
}
.card__item--active{
    box-shadow: 2px 2px 2px ;
    transform: scale(1.01);
}

.card__color{
    content:"";
    width: 187px ;
    height: 251px;
    padding-bottom: 1rem ;
    
}
.card__color--lightPurpleish{
    background-color: #EEEDF0;
    
}

.card__color--lightBlueGreenish{
    background-color: #A1B5C1;
    
}

.card__color--lightReddish{
    background-color: #F9ACA7;
    
}

.card__color--lightBluish{
    background-color: #68747D;
    
}


.card__color--reddish{
    background-color: #CF365F;
    
}
.card__tag{
    font-size:1.5rem;
    font-weight: 400;
    margin: auto;
}

.btn--generate{
    background-color:purple;
    color:#fff;
    border-radius:4px;
    border: none;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 15px purple;
}
.btn--white{
    background-color: #fff;
    color:#000;
}


@media (max-width:600px){
    .container{
        width: 100%;
        height: auto;
        margin: auto;

    }
    .card{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .card__item{
        width: 100%;
        height: auto;
        margin: auto;
    }

}
@media(max-width:900px){
    .card{
        min-width: 620px;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
}

